/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.04.2015, 11:03:21
    Author     : scd
*/

.x-carousel img { width: 100%; }
.x-carousel p img { width: auto; float: left; margin:10px; border: 5px solid white; }
.x-carousel p { padding: 10px; }

.news .x-innerhtml { padding: 10px; }

.news .x-innerhtml h1,
.news .x-innerhtml h2,
.news .x-innerhtml p { padding-bottom: 5px; }

.news .x-innerhtml h1 { font-size: 1.2em; }

.news .x-innerhtml h1,
.news .x-innerhtml h2 { font-weight: bold; padding-top: 5px; }

.news .x-innerhtml { font-weight: normal; }

ul { list-style: none; padding:0; margin:0; }
li { padding-left: 1em; } /*text-indent: -.7em;*/
li:before { content: "◼ "; color: red; }